p{
    padding-left: 20px;
}
h2,h3{
    padding-left: 25px;
}
h6{
    padding-left: 20px;
    margin: 0;
    width:100%;
    border-bottom:2px solid goldenrod;
  
}
.review{
    background:goldenrod ;
    width: 200px;
    height: 30px;
    border:1px solid black;
    border-radius:5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    margin-left:30px;
    transform: translateX(-50%);
    color:#000;
}